.footer{
    background-color: #303036;
}
.logo1{
    width: 280px;
    display: inline-block;
    padding: 63px 0px;
}
.first{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 40px 0px;
}
.second{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 40px 0px;
}
.third{
    width: 320px;
    display: inline-block;
    vertical-align: top;
    padding:40px 0px;
}
h3{
    padding-inline: 37px;
    color: rgba(255, 255, 255, 0.8);
}
.fa-facebook-official:before, .fa-twitter-square:before,.fa-instagram:before,.fa-linkedin-square:before {
    padding: 0px 10px;
    padding-inline-start: 0px;
    color: rgba(255, 255, 255, 0.8);
}
.menu1 li a, .menu2 li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
}
.menu1 li,.menu2 li{
    list-style: none;
    padding: 6px 0px;
}
.menu1 li a:hover,.menu2 li a:hover{
    color: white;
}
p{
    color:rgba(255, 255, 255, 0.8);
}

.contact li{
    list-style: none;
    padding: 10px 0px;
}
.contact li a{
    color:rgba(255, 255, 255, 0.8);

}
.contact{
    padding-left: 0px;
}

.fa-map-marker:before,.fa-mobile:before{
    padding: 0px 3px;
}
.social{
    padding-left: 0px;
    padding: 10px 0px;
}
.third h3{
    padding-left: 0px;
}
span{
    padding: 0px 14px;
    font-size: 16px;
}
span:hover{
    color: white;
}